{%load static%}
{% load i18n %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Innovation Stories</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'Board/assets/img/favicons/apple-touch-icon.png'%}'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'Board/assets/img/favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Board/assets/img/favicons/favicon-16x16.png'%}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Board/assets/img/favicons/favicon.ico'%}">
    <link rel="manifest" href="{% static 'Board/assets/img/favicons/manifest.json'%}">
    <link rel="stylesheet" href="{%  static 'Students/Dashboard/vendors/flag-icon-css/css/flag-icon.min.css' %}">
		<noscript><link rel="stylesheet" href="% static 'home/assets/css/noscript.css'%}" /></noscript>
    <meta name="msapplication-TileImage" content="{% static 'Board/assets/img/favicons/mstile-150x150.png'%}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'Board/assets/lib/prismjs/prism.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/loaders.css/loaders.min.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/remodal/remodal.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/remodal/remodal-default-theme.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/owl.carousel/owl.carousel.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/lightbox2/css/lightbox.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/semantic-ui-accordion/accordion.min.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/lib/semantic-ui-transition/transition.min.css'%}" rel="stylesheet">
    <link href="{% static 'Board/assets/css/theme.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'Students/Dashboard/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <noscript><link rel="stylesheet" href="% static 'home/assets/css/noscript.css'%}" /></noscript>

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main>


      <!-- ============================================-->
      <!-- Preloader ==================================-->
      <div id="preloader">
        <div class="loader"><span></span><span></span><span></span><span></span></div>
      </div>
      <!-- ============================================-->
      <!-- End of Preloader ===========================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="p-0" id="home">

  


           


    


























        <div class="container-fluid p-0 minh-100vh">
          <div class="position-relative px-3 w-lg-50 position-lg-absolute" id="baseContent">
            <div class="language-select dropdown" >
              <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                <i class="flag-icon flag-icon-us"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="language">
                <div class="dropdown-item">
                    <a class="dropdown-toggle" href="https://www.google.com/"   aria-expanded="true">
                      <i class="flag-icon flag-icon-fr"></i>
                  </a>
                  
                </div>
                <div class="dropdown-item">
                    <a class="dropdown-toggle" href="https://www.google.com/"  aria-haspopup="true" aria-expanded="true">
                      <i class="flag-icon flag-icon-es"></i>
                  </a>
                  
                </div>
              
                <div class="dropdown-item">
                    <a class="dropdown-toggle" href="https://www.google.com/"  aria-haspopup="true" aria-expanded="true">
                        <i class="flag-icon flag-icon-it"></i>
                    </a>
                </div>
              </div>
            </div>
            <div class="row align-items-center minh-50vh justify-content-center py-5 minh-lg-100vh">
              <div class="col-sm-9 col-md-8 col-lg-9 col-xxl-7 text-center">
                <img class="img-fluid px-5 px-xl-6 px-xxl-0" src="{% static 'Board/assets/img/winter_designer.svg'%}" alt="">
                <h1 class="font-weight-light mt-4 fs-2 fs-sm-3 fs-xl-4">Innovation <span class="font-weight-bold ls-0 text-danger" style="letter-spacing: -0.125rem;">Stories</span></h1>
               
               
                <video  width="320" height="240" controls>
                  <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
                  <source src="{% static 'Board/assets/img/inov.mp4'%}" type=video/mp4>
                </video>
           
              </div>
            </div>
          </div>
         
          <div class="position-relative w-lg-50 position-lg-fixed undefined" id="gridNav">
            <div class="row h-lg-100vh">
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="about">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/about.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" src="{% static 'Board/assets/img/lineicons/favorites.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "How it Works"%}</h2>
                </div>
              </div>
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="service">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/service.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" src="{% static 'Board/assets/img/lineicons/heart.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "Stories"%}</h2>
                </div>
              </div>
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="portfolio">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/portfolio.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" href="{% url 'teacher_signup'%}" src="{% static 'Board/assets/img/lineicons/suitcase.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "You are a Student"%}</h2>
                </div>
              </div>
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="gallery">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/gallery.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" src="{% static 'Board/assets/img/lineicons/computer.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "You are an Expert"%}</h2>
                </div>
              </div>
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="faq">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/faq.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" src="{% static 'Board/assets/img/lineicons/image.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "About US"%}</h2>
                </div>
              </div>
              <div class="col-6 minh-25vh minh-md-33vh sidebar-item-wrapper py-5" data-content="contact">
                <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/navigation/contact.jpg' %});">
                </div>
                <!--/.bg-holder-->

                <div class="sidebar-item">
                  <img class="mb-2 mb-md-3 nav-icon" src="{% static 'Board/assets/img/lineicons/placeholder.svg' %}" alt="">
                  <h2 class="font-weight-light text-white fs-1 fs-xl-2 fs-xxl-3">{% trans "Contact"%}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <div class="page position-absolute t-0 w-100" id="about">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

              <div class="container-fluid">
                <div class="row justify-content-center pb-5" id="boots4-story">
                  <div class="col-lg-10">
                    <div class="text-center mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium"> </span> Innovation Stories</h2>
                      <hr class="hr-ornate" />
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 mb-md-0">
                        <div class="bg-holder position-relative rounded py-8 py-md-0" style="background-image:url({% static 'Board/assets/img/infinity.jpg' %});">
                        </div>
                        <!--/.bg-holder-->

                        <div class="position-absolute t-0 l-0 h-100 w-100 d-flex align-items-center justify-content-center">
                          <a class="video-modal text-white" href="https://www.powtoon.com/online-presentation/fjuep0TRfFJ/?utm_medium=SocialShare&utm_campaign=email%2Bshare%2Bby%2Bowner&utm_source=player-page-social-share&utm_content=fjuep0TRfFJ&utm_po=25976078&mode=movie" data-start="33" data-end="59"><span class="fa-layers fa-fw fs-5"><i class="fas fa-circle"></i><i class="text-primary fas fa-play" data-fa-transform="shrink-12 right-0.5"></i></span></a>
                        </div>
                      </div>
                      <div class="col-md-6 pl-3 pl-md-4">
                        <h4>To Infinity and Beyond!</h4>
                        <p class="lead my-3"  style="text-align:justify;"> This Innovation Stories  </a> application  is a collaborative platform for easily creating, evaluating  and  consulting innovation case studies. 
                          In this application, users can sign up as a student or a expert. Students can create stories and experts can evaluate their sotries  based on their interests.
                       
                          If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>.
                          If you are new to Innovation Stories, get started
                             by creating a <a href="{% url 'student_signup' %}">student account </a> or a <a href="{% url 'teacher_signup' %}">expert account</a>..</p>
                        <ul class="actions">


                        </p>
                    <p></p>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="row justify-content-center" >
                <div class="col-lg-10">
                  <p>    </p>
                  <div class="row justify-content-center">
                    <img class="mb-3" src="{% static 'Board/assets/img/Image.png' %}" alt="" width="800" />
                   
                  </div>
                </div>
              </div>
            

                <div class="row justify-content-center" id="fun-facts">
                  <div class="col-lg-10">
                    <div class="card-deck">
                  
                      <div class="card border-2x border-primary rounded py-5 px-3 text-center">
                        <img class="position-absolute t-0 l-0" src="{% static 'Board/assets/img/shapes/3.png'%}" alt="" style="width: 70%;" />
                        <img class="mx-auto" src="{% static 'Board/assets/img/icons/brush.svg' %}" width="70" alt="" /><span class="d-block fs-3 mt-2 text-dark" data-countup="40">0</span>
                        <h5>Case Studies</h5>
                      </div>
                      <div class="card border-2x border-danger rounded py-5 px-3 text-center">
                        <img class="position-absolute b-0 r-0" src="{% static 'Board/assets/img/shapes/2.png'%}" alt="" style="width: 70%; border-bottom-right-radius: 1px;" />
                        <img class="mx-auto" src="{% static 'Board/assets/img/icons/lightbulb_idea.svg' %}" width="70" alt="" /><span class="d-block fs-3 mt-2 text-dark" data-countup="40">0</span>
                        <h5>Evaluations</h5>
                      </div>
                      <div class="card border-2x border-warning rounded py-5 px-3 text-center">
                        <img class="position-absolute r-0 t-0" src="{% static 'Board/assets/img/shapes/1.png'%}" alt="" style="width: 30%; border-top-right-radius: 1px;" />
                        <img class="mx-auto" src="{% static 'Board/assets/img/icons/coffe.svg' %}" width="70" alt="" /><span class="d-block fs-3 mt-2 text-dark" data-countup="10">0</span>
                        <h5>Stories</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
























    
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->




            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-0 text-center">

              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-lg-10 col-xxl-7 col-xl-9">
                    <div class="mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Meet Our </span> Team</h2>
                      <hr class="hr-ornate" />
                    </div>
                    <div class="row justify-content-center">
                   
  
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-5">
                        <a href="https://erpi.univ-lorraine.fr/fr/people/Vincent-Boly/">
                        <img class="img-fluid rounded-circle"  src= "{% static 'Introduction/Temp_518/img/pic_2.jpg' %}""   width="140" alt="" /></a>
                        <h5 class="mt-3 mb-1" href="https://erpi.univ-lorraine.fr/fr/people/Vincent-Boly/" >Vincent Boly</h5>
                        <h5 class="text-500 mb-1">University Professor</h5>
                        <p>Expert in innovation management. Interested in need analysis, perspectives, innovation capability...</p>
                      </div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-5">
                        <a href="https://erpi.univ-lorraine.fr/people/Manon-Enjolras/"> <img class="img-fluid rounded-circle" src="{% static 'Introduction/Temp_518/img/pic_2.jpg' %}" width="140" alt="" /></a>
                        <h5 class="mt-3 mb-1">Manon ENJOLRAS</h5>
                        <h5 class="text-500 mb-1">Engineer and PhD</h5>
                        <p>Interested ininnovation management, decision making, Multicriteria analysis, internationalization...</p>
                      </div>
                      <div class="col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3 mb-5">
                        <a href="https://erpi.univ-lorraine.fr/people/Fatima/"><img class="img-fluid rounded-circle"  src= "{% static 'Introduction/Temp_518/img/pic_2.jpg' %}" width="140" alt="" /></a>
                        <h5 class="mt-3 mb-1">Fatima-Ez HAMDANI</h5>
                        <h5 class="text-500 mb-1">Engineer and PhD</h5>
                        <p>Interested in Operational Research, decision making, Stochastic modeling, Artificial intelligence...</p>
                      </div>
                    </div>
                  </div>
                </div>
           
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/about.jpg' %});background-position: 0 27%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 Innovation Stories.</p>
                    </div>
                   
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg' %}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg' %}" width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/about.jpg' %});">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">How it works</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page position-absolute t-0 w-100" id="service">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">























            <!-- ============================================-->
            <!-- <section> begin ============================-->
           
            <!-- <section> close ============================-->
            <!-- ============================================-->



            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="bg-light text-center">

              <div class="container-fluid">
                <div class="row justify-content-center">
                   <div class="col-lg-10">
                    <div class="mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Find Innovation </span>Stories</h2>
                      <hr class="hr-ornate" />
                      <div class="row justify-content-center pt-4">
                        <div class="col">
                          
                          <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 mb-4 mb-xl-0" style="margin: 0 auto;
                          ">
                            <img class="mb-3" src="{% static 'Board/assets/img/icons/coffe.svg' %}" alt="" width="100" />
                
                  
                                 </div>




















                      
                          <p class="lead">Find innovation examples &amp; case studies and stories.</p>
                          <a class="btn btn-primary rounded mt-2 shadow-sm" href="{% url 'Research' %}">Click-in </a>
                        </div>
                    
                  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>

<section>




  
</section>




            <!-- <section> close ============================-->
            <!-- ============================================-->




            <!-- ============================================-->
            <!-- <section> begin ============================-->
           
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/service.jpg' %});background-position: 0 41%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 Innovation Stories.</p>
                    </div>
                    <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                   
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg' %}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg'%}" width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/service.jpg' %});">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">Innovation Stories</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page position-absolute t-0 w-100" id="portfolio">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="text-center pt-5 pt-xl-7 pt-xxl-8 text-center" id="boots4-projects">

              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium"> Create your innovation </span> Case Studies</h2>
                      <hr class="hr-ornate" />
                      <div class="row justify-content-center text-center pt-4">
                        <div class="col">
                       

                       
                          <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 mb-4 mb-xl-0" style="margin: 0 auto;
                          ">
          <img class="mb-3" src="{% static 'Board/assets/img/icons/brush.svg' %}" alt="" width="100" />
                
                  
                   </div>
                          <p>Our telented team always ready to help you</p>

                  
                          <a class="btn btn-primary rounded mt-2 shadow-sm" href="{% url 'student_signup'%}">Get Started</a>
                          <div class="w-full text-center p-t-27 p-b-239">
                            <span class="txt1">
                              already
                            </span>
                
                            <a href="{% url 'login' %}" class="txt2" style="color:#fc7079; ">
                              have an account
                            </a>
                          </div>
                        </div>
                      </div>
                    
             
                    <div class="sortable" data-options='{"layoutMode":"packery"}'>
                      <div class="menu justify-content-center mb-3">
                     
                        
                      </div>
                      <div class="row no-gutters sortable-container sortable-container-gutter-fix">
                        <a class="col-6 col-md-4 sortable-item p-2 interior" href="{% static 'Board/assets/img/projects/project-7-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-7.jpg' %}" alt="" />
                        </a>
                        <a class="col-6 col-md-4 sortable-item p-2 studio" href="{% static 'Board/assets/img/projects/project-11-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-11.jpg' %}" alt="" />
                        </a>
                        <a class="col-6 col-md-4 sortable-item p-2 photography" href="{% static 'Board/assets/img/projects/project-8-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-8.jpg' %}" alt="" />
                        </a>
                        <a class="col-6 col-md-4 sortable-item p-2 studio" href="{% static 'Board/assets/img/projects/project-9-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-9.jpg' %}" alt="" />
                        </a>
                        <a class="col-6 col-md-4 sortable-item p-2 photography" href="{% static 'Board/assets/img/projects/project-12-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-12.jpg' %}" alt="" />
                        </a>
                        <div class="col-6 col-md-4 sortable-item p-2 illustration">
                          <img class="rounded w-100" src="{% static 'Board/assets/img/projects/project-13.jpg' %}" alt="" />
                          <a class="video-modal position-absolute r-0 b-0 pr-4 pb-3" href="https://www.youtube.com/watch?v=QD7pOiZBgy0" data-start="01" data-end="75">
                            <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 274.19 274.19">
                              <defs>
                                <style>
                                  .play-path {
                                    fill: none;
                                    stroke: #ffffff;
                                    stroke-linecap: round;
                                    stroke-linejoin: round;
                                    stroke-width: 12px;
                                  }
                                </style>
                              </defs>
                              <g>
                                <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113"></path>
                              </g>
                            </svg>
                          </a>
                        </div>
                        <div class="col-8 sortable-item p-2" id="owl-slide">
                          <div class="embed-responsive embed-responsive-4by3">
                            <div class="embed-responsive-item owl-carousel owl-theme owl-dots-inner owl-theme-white" data-options='{"items":1,"autoplay":true,"loop":true,"animateOut":"fadeOut"}'>
                              <img class="rounded fit-cover" src="{% static 'Board/assets/img/projects/project-14.jpg' %}" alt="" />
                              <img class="rounded fit-cover" src="{% static 'Board/assets/img/projects/project-15.jpg' %}" alt="" />
                            </div>
                          </div>
                        </div>
                        <a class="col-6 col-md-4 sortable-item p-2 photography" href="{% static 'Board/assets/img/projects/project-10-f.jpg' %}" data-lightbox="image" data-title="my caption">
                          <img class="w-100 rounded" src="{% static 'Board/assets/img/projects/project-10.jpg' %}" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
        
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/portfolio.jpg' %}");background-position: 0 27%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 Innovation Stories</p>
                    </div>
                    <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                  
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg'%}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg'%} width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/portfolio.jpg' %});">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">Student</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page position-absolute t-0 w-100" id="gallery">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

              <div class="container-fluid">
                <div class="row justify-content-center pb-5">
                  <div class="col-lg-10">
                    <div class="text-center mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">You are an </span>Expert</h2>
                      <hr class="hr-ornate" />


                      <h2 class="font-weight-medium fs-2 fs-sm-3"> Evaluate innovation case studies</h2>
                 
                      <div class="col-sm-6 col-md-4 col-lg-6 col-xl-4 mb-4 mb-xl-0" style="margin: 0 auto;
                      ">
      <img class="mb-3" src="{% static 'Board/assets/img/icons/lightbulb_idea.svg' %}" alt="" width="100" />
            
              
               </div>
                      




                      <a class="btn btn-primary rounded mt-2 shadow-sm" href="{% url 'teacher_signup'%}">Get Started</a>
                      <div class="w-full text-center p-t-27 p-b-239">
                        <span class="txt1">
                          already
                        </span>
            
                        <a href="{% url 'login' %}" class="txt2" style="color:#354A21; ">
                          have an account
                        </a>
                      </div>
















                    </div>
                    
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/gallery.jpg' %});background-position: 0 8%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 Innovation Stories.</p>
                    </div>
                    <div class="col-lg-6 text-lg-right mt-2 mt-lg-0">
                  
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg'%}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg'%}" width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/gallery.jpg' %});">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">Expert</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page position-absolute t-0 w-100" id="faq">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

              <div class="container-fluid">
                <div class="row justify-content-center pb-5">
                  <div class="col-lg-10">
                    <div class="text-center mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Frequently Asked </span> Questions</h2>
                      <hr class="hr-ornate" />
                    </div>
                    <div class="row">
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/faq.jpg' %});background-position: 0 51%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 InnovationStories.</p>
                    </div>
                 
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg' %}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg' %}" width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/faq.jpg' %});">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">Faq</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="page position-absolute t-0 w-100" id="contact">
        <div class="row no-gutters minh-100vh">
          <div class="col-lg-9 order-1 order-lg-0 page-content pt-6 pt-lg-0">


            <!-- ============================================-->
            <!-- <section> begin ============================-->
            <section class="pt-5 pt-xl-7 pt-xxl-8">

              <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-lg-10">
                    <div class="text-center mb-5 mb-lg-6">
                      <h2 class="fs-2 fs-sm-3"> <span class="font-weight-medium">Get In </span> Touch</h2>
                      <hr class="hr-ornate" />
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4 mb-xl-0">
                        <h4>Connect with us</h4>
                        <p class="mt-3 mb-0">  </p>
                        <div class="row">
                          <div class="col-11">
                            <hr class="my-4" />
                          </div>
                          <div class="col-auto" style="width: 178px;">
                            <div class="row">
                              <div class="col-1"><span class="fas fa-map-marker-alt text-900"></span></div>
                              <div class="col">
                                <h5 class="mb-1">ENSGSI</h5>
                                <p>8 Rue Bastien-Lepage
                                  <br/>54000 Nancy</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-auto" style="width: 178px;">
                            <div class="row">
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-1 mr-3"><span class="fas fa-phone text-900"></span></div>
                                  <div class="col pl-0">
                                    <a href="tel:112-334-48-55">+33-72-74-35-00</a>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="row">
                                  <div class="col-1 mr-3"><span class="fas fa-paper-plane text-900"></span></div>
                                  <div class="col pl-0">
                                    <a href="mailto:info@themewagon.com">info@slick.com</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-11">
                            <hr class="my-4" />
                          </div>
                          <div class="col-auto" style="min-width: 100%;">
                            <ul class="list-inline">
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"><span class="fab fa-facebook-f"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-twitter"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-linkedin-in"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"> <span class="fab fa-youtube"></span></a>
                              </li>
                              <li class="list-inline-item mx-2">
                                <a class="text-700" href="#"><span class="fab fa-google-plus-g"></span></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4 mb-lg-0">
                        <h4>Drop us a line</h4>
                     
                        <form class="zform">
                          <input type="hidden" name="to" value="username@domain.extension" />
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Name</label>
                            <input class="form-control" type="text" name="name" placeholder="" required="required" />
                          </div>
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Your Email</label>
                            <input class="form-control" type="email" name="email" placeholder="" required="required" />
                          </div>
                          <div class="form-group">
                            <label class="ls text-uppercase mb-0">Message</label>
                            <textarea class="form-control" rows="4" name="message" placeholder="" required="required"></textarea>
                          </div>
                          <div class="zform-feedback"></div>
                          <button class="btn btn-block btn-warning mt-4" type="submit">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-4">
                  <div class="col-lg-10">
                    <div id="map">
                
                      <!-- How to change your own map point
                               1. Go to Google Maps
                               2. Click on your location point
                               3. Click "Share" and choose "Embed map" tab
                               4. Copy only URL and paste it within the src="" field below
                        -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.549262538899!2d6.1914682156685945!3d48.69498177927176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4794983fc320d4b5%3A0xb05f011bc8e53da5!2sENSGSI%20-%20Groupe%20INP!5e0!3m2!1sfr!2sfr!4v1575649017554!5m2!1sfr!2sfr" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                     
                    
                    </div>
                  </div>
                </div>
              </div>
              <!-- end of .container-->

            </section>
            <!-- <section> close ============================-->
            <!-- ============================================-->


            <footer class="page-footer">
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/contact.jpg' %});background-position: 0 37%; transform: scale(1.1);">
              </div>
              <!--/.bg-holder-->

              <div class="row justify-content-center">
                <div class="col-lg-10">
                  <div class="row align-items-center">
                    <div class="col-lg-6 text-lg-left">
                      <p class="fs--1 text-uppercase ls font-weight-bold mb-0">
                        Copyright &copy; 2019 InnovationStories.</p>
                    </div>
               
                  </div>
                </div>
              </div>
            </footer>
          </div>
          <div class="col-lg-3 col-12 t-0 order-0 order-lg-1 position-absolute position-lg-relative">
            <div class="h-lg-100vh sticky-top py-4 sticky-area"><span class="btn-close"><img class="d-none d-lg-block times" src="{% static 'Board/assets/img/times.svg' %}" width="25" alt=""/><img class="d-lg-none" src="{% static 'Board/assets/img/times-black.svg' %}" width="18" alt=""/></span>
              <div class="bg-holder" style="background-image:url({% static 'Board/assets/img/sidebars/contact.jpg' %})">
              </div>
              <!--/.bg-holder-->

              <h1 class="page-title">Contact Us</h1>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'Board/assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/popper.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/bootstrap.js'%}"></script>
    <script src="{% static 'Board/assets/js/plugins.js'%}"></script>
    <script src="{% static 'Board/assets/lib/prismjs/prism.js'%}"></script>
    <script src="{% static 'Board/assets/lib/loaders.css/loaders.css.js'%}"></script>
    <script src="{% static 'Board/assets/js/stickyfill.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/remodal/remodal.js'%}"></script>
    <script src="{% static 'Board/assets/lib/jtap/jquery.tap.js'%}"></script>
    <script src="https://www.google.com/recaptcha/api.js'%}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"></script>
    <script src="{% static 'Board/assets/lib/owl.carousel/owl.carousel.js'%}"></script>
    <script src="{% static 'Board/assets/lib/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/isotope-packery/packery-mode.pkgd.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/lightbox2/js/lightbox.js'%}"></script>
    <script src="{% static 'Board/assets/lib/semantic-ui-accordion/accordion.min.js'%}"></script>
    <script src="{% static 'Board/assets/lib/semantic-ui-transition/transition.min.js'%}"></script>
    <script src="{% static 'Board/assets/js/theme.js'%}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARdVcREeBK44lIWnv5-iPijKqvlSAVwbw&callback=initMap" async></script>

  </body>

</html>




     

